{% extends 'master.html' %} {% block title %} Articles Details {% endblock title%}
{%block content %}
<div id="article-title" class="mt-4 d-flex flex-row align-items-center justify-content-between border-bottom">
</div>
<div id="article-content"></div>
{% endblock content %} 
{% block js %}

<script>
  $(document).ready(function () {
    var articleId = window.location.href.split("/").pop();
    $.ajax({
      url: "/api/v1/articles/" + articleId + "/",
      type: "GET",
      success: function (response) {
        var articleTitle = $("#article-title");
        var articleContent = $("#article-content");
        articleTitle.append(
            `<h1>${response?.title}</h1>
            <div class="d-flex gap-2">
                <span>Count Vote:</span><b>${response?.vote_count}</b>
                <span>Avarage Vote:</span><b>${response?.average_vote}</b>
            </div>
            <div class="d-flex gap-2">
                <div class="my-rating"></div>
            </div>
            `
        );
        articleContent.html(response?.content);
        initStar(response?.user_vote)
      },
      error: function (jqXHR, textStatus, errorThrown) {
        if (jqXHR.status == 404) {
          window.location.href = "/404/";
        }
      },
    });
    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }
    function initStar(user_vote) {
        var articleId = window.location.href.split("/").pop();
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
        $(".my-rating").starRating({
            initialRating:user_vote,
            starSize: 25,
            useFullStars: true,
            callback: function(currentRating, $el){
                $.post("/api/v1/articles/" + articleId + "/vote/", {value:currentRating}, function(response){ 
                    alert("success");
                    window.location.reload()
                });
            }
        });
    }
  });
</script>
{% endblock js %}
