{% extends 'master.html' %} {% block title %} Articles {% endblock title %}
{%block content %}
<h1>Articles</h1>
<div id="article-list" class="mt-4"></div>
{% endblock content %} {% block js %}
<script>
  $(document).ready(function () {
    const star_fill = `<span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
      </svg>
    </span>`;
    const star = `
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
    </span>
      `;
    function showStars(num) {
      var stars = "";
      for (var i = 1; i <= 5; i++) {
        if (i <= num) {
          stars += star_fill;
        } else {
          stars += star;
        }
      }
      return stars;
    }

    $.ajax({
      url: "/api/v1/articles/",
      type: "GET",
      success: function (response) {
        var articles = response?.body;
        var articleList = $("#article-list");

        $.each(articles, function (i, article) {
          articleList.append(
            //"<h3>" + article.title + "</h3><p>" + article.content + "</p>"
            `<div class="d-flex flex-column gap-2">
                <div class="border-bottom  d-flex flex-row align-items-center justify-content-between">
                    <h2>${article?.title}</h2>
                    <div class="d-flex gap-2">
                        <span>Count Vote:</span><b>${article?.vote_count}</b>
                        <span>Avarage Vote:</span><b>${
                          article?.average_vote
                        }</b>
                    </div>
                    <div class="d-flex gap-2">
                      <div class="my-rating-${i}"></div>
                  </div>
                </div>
                <div>
                    ${article?.content}  
              </div>
              <div class="border-top pt-2">
                <a href="/article/${
                  article?.id
                }" class="btn btn-primary" blank="_target">Continue</a>
              </div>
            </div>`
          );
          initStar(i,article?.user_vote)
        });
      },
    });
    function initStar(index, user_vote) {
      var articleId = window.location.href.split("/").pop();
      $(`.my-rating-${index}`).starRating({
          initialRating:user_vote,
          starSize: 25,
          useFullStars: true,
          readOnly: true,
          callback: function(currentRating, $el){

          }
      });
  }
  });
</script>
{% endblock js %}
