{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/star-rating-svg.css' %}" />

    {% block header %} {% endblock %}
  </head>
  <body>
    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/articles">HOME</a>
        </li>
      </ul>

      {% block content %} {% endblock %}
      <script
        type="text/javascript"
        src="{% static 'js/jquery-3.6.4.min.js' %}"
      ></script>
      <script
        type="text/javascript"
        src="{% static 'js/jquery.star-rating-svg.js' %}"
      ></script>

      {% block js %} {% endblock %}
    </div>
  </body>
</html>
